@font-face
{
   font-family: 'starkillerregular';
    src: url('../font/starkiller/starkiller-webfont.eot');
    src: url('../font/starkiller/starkiller-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/starkiller/starkiller-webfont.woff2') format('woff2'),
         url('../font/starkiller/starkiller-webfont.woff') format('woff'),
         url('../font/starkiller/starkiller-webfont.ttf') format('truetype'),
         url('../font/starkiller/starkiller-webfont.svg#starkillerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{
  margin:0;
  padding:0;
  background: url('../content/img/bg_sw3.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

h1
{
	text-align: center;
	font-family: starkillerregular;
	text-shadow: 2px 2px 5px yellow;
}

.message_profil
{
	text-align: center;
	font-family: starkillerregular;
	text-shadow: 1px 1px 1px yellow;
}

h2
{
  text-shadow: 5px 4px 1px black;
  font-family: starkillerregular;
  color: yellow;
}

a
{
    text-decoration: none;
    color: black;
    text-shadow: 3px 3px 3px yellow;
}
    a:hover
    {
        text-decoration: none;
        color: yellow;
        text-shadow: 2px 3px 3px black;
    }

#positionemment_profil
{
  margin-top: 10%;
}

#logo
{
    text-align: center;
}

#logo_light
{
    padding: 5%;
    opacity: 0.5;
}
    #logo_light:hover
    {
        opacity: 1;
        transition: 2s ease;
    }

#logo_dark
{
    padding: 5%;
    opacity: 0.5;
}
    #logo_dark:hover
    {
        opacity: 1;
        transition: 2s ease;
    }

#logo_light img 
{
    transition: 2s ease;
}
    #logo_light  img:hover
    {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transition: 2s ease;
    }

#logo_dark img 
{
    transition: 2s ease;
}
    #logo_dark  img:hover
    {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        transition: 2s ease;
    }

.profilTouch
{
  font-family: starkillerregular;
  color: black;
  text-shadow: darkred;
  right: 0;
  top: 0;
  float: right;
  position: absolute;
  display: flex;
  margin-top: 1%;
}

.profilAvatar
{
  top: 0;
  float: left;
}

.icon_social_position_foot
{
    position: fixed;
    bottom: 0;
    right: 0;
    float:right;

}

.icon_social_foot
{
    display: inline-flex;
}