@font-face
{
   font-family: 'starkillerregular';
    src: url('../../../content/font/starkiller/starkiller-webfont.eot');
    src: url('../../../font/starkiller/starkiller-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../font/starkiller/starkiller-webfont.woff2') format('woff2'),
         url('../../../font/starkiller/starkiller-webfont.woff') format('woff'),
         url('../../../font/starkiller/starkiller-webfont.ttf') format('truetype'),
         url('../../../font/starkiller/starkiller-webfont.svg#starkillerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{
  margin:0;
  padding:0;
  background: url('../../../content/img/Coruscant.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

h1
{
  text-align: center;
    font-family: starkillerregular;
    color: black;
    text-shadow: 2px 2px 1px darkturquoise;
}

h2
{
    text-align: center;
    font-family: starkillerregular;
    color: black;
    text-shadow: 2px 3px 3px darkturquoise;
}

a
{
    color: black;
    text-shadow: 3px 3px 3px darkturquoise;
}
    a:hover
    {
        text-decoration: none;
        color: darkturquoise;
        text-shadow: 2px 3px 3px black;
    }

li
{
    list-style-type: none;
}

.profil_acces
{
    margin-top: 10%;
}

.profil_acces a
{
    text-decoration: none;
    font-size: 1.8em;
    margin-right: 25px;
}

.icon_social_position_foot
{
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;

}

.icon_social_foot
{
    display: inline-flex;
}

body
{
  font-family: starkillerregular;
}

a 
{
  text-decoration: none;
}

.choice_heros
{
  display: inline-flex;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0.6;
}
.choice_heros:hover
{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

ul
{
  text-align: center;
}

.icon_social_position_foot
{
    position: fixed;
    bottom: 0;
    right: 0;
    float:right;

}
.icon_social_foot
{
  display: inline-flex;
}

.profilTouch
{
  font-family: starkillerregular;
  color: white;
  text-shadow: darkturquoise;
  right: 0;
  top: 0;
  float: right;
  position: absolute;
  display: flex;
  margin-top: 1%;
}

.profilAvatar
{
  top: 0;
  float: left;
}

.message_profil
{
  text-align: center;
  font-family: starkillerregular;
  text-shadow: 1px 1px 1px darkturquoise;
}

#positionemment_profil
{
  margin-top: 10%;
}
